#logo {
  width: 200px;
  height: 200px;
  background: url("../../assets/holberton-logo.jpg") no-repeat center center;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  margin: 10px 0;
  text-align: center;
}
